.header {
  text-align: center;
}

.header > h1,
.header > div {
  margin: 2rem 0;
}

.header > p {
  margin: 1rem auto;
  max-width: 50em;
  line-height: 1.7;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}
