.header {
  text-align: center;
}

.header > h1,
.header > div {
  margin: 2rem 0;
}

.header > p {
  margin: 1rem auto;
  max-width: 50em;
  line-height: 1.7;
}

.logo {
  width: 50%;
  min-width: 20rem;
}
