.preparationSection {
  background-color: var(--abakus-dark-red);
  color: white;
  box-shadow: 0 0 10px -5px var(--abakus-dark-red);
}

.title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.preparationSection > h1,
.preparationSection > p {
  margin: 0.3em 0;
}
