.title {
	font-size: medium;
	font-weight: 500;
	margin-bottom: 5px;
}

.card {
	border-radius: 25px;
	padding: 10px 20px;
	width: 250px;
	height: 150px;
	box-shadow: 0 2px 8px 2px rgba(104, 112, 118, 7%),
		0 2px 4px -1px rgba(104, 112, 118, 4%);
}

.description {
	font-size: small;
}
