.card {
  border-radius: 25px;
  padding: 10px 20px;
  width: 250px;
  height: 150px;
  box-shadow: var(--shadow-1);
  text-align: left;
  background-color: white;
  color: #0d0d0d;
}

.title {
  font-size: medium;
  font-weight: 500;
  margin-bottom: 5px;
}

.description {
  font-size: smaller;
}
