.card {
  border-radius: 25px;
  padding: 20px;
  width: 270px;
  box-shadow: var(--shadow-1);
  text-align: left;
  background-color: white;
  color: #0d0d0d;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 7px;
}

.title .icon {
  font-size: 20px;
}

.description {
  font-size: smaller;
}
