.header {
  text-align: center;
}

.header > h1 {
  margin-bottom: 1.5rem;
}

.header > p {
  margin: 1rem 0;
  line-height: 1.7;
}

.infoMeetingSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--red-1);
  color: white;
  box-shadow: 0 0 10px -5px var(--red-1);
}

.sectionTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  font-size: xx-large;
  line-height: 0.5;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
