.navbar {
  background-color: var(--red-1);
  padding: 1rem 1.5rem;
  color: white;
  font-weight: 600;
  justify-content: center;
  display: flex;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 0.5em;
}

@media (max-width: 800px) {
  .contentWrapper {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .contentWrapper {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .navLinksWrapper,
  .logoWrapper {
    justify-content: center;
  }
}

.navLinksWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1em 2em;
}

.logoWrapper {
  display: flex;
}

.contentWrapper a {
  color: #f0f0f0;
  text-decoration: underline 0.13em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s;
}

.contentWrapper a:hover {
  text-decoration: underline 0.13em white;
}
