.fpInfo p {
  margin-bottom: 0.5em;
}

.title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.subTitle {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}
