.eventsList {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.eventsList > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.eventsList .dayTitle {
  font-weight: bold;
}

.eventItem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7em;
  padding: 0.8em;
  border-radius: 0.4em;
  box-shadow: var(--shadow-event-1);
}

.eventText {
  flex-grow: 1;
}

.eventItem.past {
  opacity: 0.6;
}

.eventTitle {
  font-size: large;
  margin-bottom: 0.5em;
}

.eventDetails {
  display: flex;
  gap: 1em;
}

.eventLink {
  margin-right: 10px;
}

.description {
  background-color: var(--day-description);
  font-size: 1em;
  padding: 0.8em;
  min-height: inherit;
}

.description > p {
  padding-bottom: 0.4em;
}

.collapsibleItemParent {
  position: relative;
  overflow: hidden;
  transition: 0.33s ease-in-out height;
  cursor: pointer;
}

.collapsibleItem {
  position: relative;
  overflow: hidden;
}

.collapsibleItemGradient {
  transition: 0.33s ease-out box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}
