* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}

p {
  line-height: 1.5;
}

a {
  color: var(--red-1);
  text-decoration: none;
}

:root {
  --red-1: #c0392b;
  --abakus-red: #e21617;
  --labamba-yellow: #ffcb20;
  --day-description: #ffe6e3;

  --shadow-1: 0 2px 8px 2px rgba(104, 112, 118, 7%),
    0 2px 4px -1px rgba(104, 112, 118, 4%);
  --shadow-red-1: 0 0 10px -5px var(--red-1);

  --shadow-event-1: 0 0 9px -5px #8b8b8b;
}

ul {
  margin-left: 1.5em;
}
