.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fullscreenImage {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
